/* styles.css */

body {
  font-family: "Young Serif", serif, sans-serif;
  padding-left: 100px;
  background-color: #d8acc6;
}

.site-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-family: "Roboto";
}

#searchField {
  border: 2px solid #333;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #f8f8f8;
}

#menu {
  float: left;
  width: 20%;
}

.main-menu-item:hover, 
.sub-menu li:hover, 
.sub-menu li:hover > a {
  background-color: yellow;
}

.sub-menu li:hover > a {
  background-color: red;
}

#section1, #section2, #section3 {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  clear: both;
  background-color: lightblue; /* Default color */
}

#section2 {
  background-color: lightgreen;
}

#section3 {
  background-color: rgb(181, 27, 40);
}

.highlight {
  background-color: yellow;
}

/* Sub-section Styles */
#sub-section_1_1, #sub-section_1_2, #sub-section_1_3, #sub-section_1_4, #sub-section_1_5,
#sub-section_2_1, #sub-section_2_2, #sub-section_2_3, #sub-section_2_4, #sub-section_2_5,
#sub-section_3_1 {
  min-height: 50vh;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: deepskyblue; /* Default color */
}

#sub-section_1_2, #sub-section_1_4 {
  background-color: rgb(40, 168, 211);
}

#sub-section_2_1, #sub-section_2_3, #sub-section_2_5 {
  background-color: limegreen;
}

#sub-section_2_2, #sub-section_2_4 {
  background-color: rgb(36, 114, 36);
}

#sub-section_3_1 {
  background-color: rgb(125, 50, 205);
}

.sub_section_text_1, .sub_section_text_2 {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.sub_section_text_1 {
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
}

.img-full-width {
  width: 100%;
}

.sidebar, .header {
  float: flex;
}

.sidebar {
  width: 20%;
}

.header {
  width: 80%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
