/* styles.css */

body {
  font-family: "Young Serif", serif;
  padding-left: 100px;
  background-color: #d8acc6;
}

.site-header {
  background-color: #007bff; /* bg-primary */
  color: white; /* text-white */
  text-align: center; /* text-center */
  padding: 1rem 0; /* py-3 */
  font-family: "Roboto";
}

#searchField {
  */border: 2px solid #333; /* Add a border to the search field */
  padding: 10px 20px; /* Increase padding for the search field */
  font-size: 1.2em; /* Increase the font size of the text in the search field */
  border-radius: 5px; /* Add rounded corners to the search field */
  background-color: #f8f8f8; /* Change the background color of the search field */
}

#menu {
  float: left;
  width: 20%;
}

.main-menu-item:hover {
  background-color: yellow;
}

.sub-menu li:hover,
.sub-menu li:hover > a {
  background-color: red;
}

#section1,
#section2,
#section3 {
  width: 100%; /* Make them span full width */
  min-height: 100vh;
  padding: 20px;
  clear: both; /* Clear the float */
}

#section1 {
  background-color: lightblue;
}

#section2 {
  background-color: lightgreen;
}

#section3 {
  background-color: rgb(181, 27, 40);
}

.highlight {
  background-color: yellow;
}

#sub-section_1_1,
#sub-section_1_2,
#sub-section_1_3,
#sub-section_1_4,
#sub-section_1_5,
#sub-section_2_1,
#sub-section_2_2,
#sub-section_2_3,
#sub-section_2_4,
#sub-section_2_5,
#sub-section_3_1 {
  min-height: 50vh;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Subsection background colors */
#sub-section_1_1 {
  background-color: deepskyblue;
}
#sub-section_1_2 {
  background-color: rgb(40, 168, 211);
}
#sub-section_1_3 {
  background-color: deepskyblue;
}
#sub-section_1_4 {
  background-color: rgb(40, 168, 211);
}
#sub-section_1_5 {
  background-color: deepskyblue;
}
#sub-section_2_1 {
  background-color: limegreen;
}
#sub-section_2_2 {
  background-color: rgb(36, 114, 36);
}
#sub-section_2_3 {
  background-color: limegreen;
}
#sub-section_2_4 {
  background-color: rgb(36, 114, 36);
}
#sub-section_2_5 {
  background-color: limegreen;
}

#sub-section_3_1 {
  background-color: rgb(125, 50, 205);
}

.sub_section_text_1 {
  font-size: 14px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  margin-top: 10px;
  border-radius: 5px;
}

.sub_section_text_2 {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* For the image with width set to 100% */
.img-full-width {
  width: 100%;
}

.sidebar {
  float: left;
  width: 20%; /* adjust as needed */
}

.header {
  float: left;
  width: 80%; /* adjust as needed */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
